#navbar li a:hover,
#navbar li a.active2{
  color: #15c0b4;
}

#navbar li a.active2::after,
#navbar li a:hover::after{
  content: "";
  width: 50%;
  height: 2px;
  background: #15c0b4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/*Home Page*/

#hero{
  background-image: url("../img/banner/b1.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero h2,
#hero p{
  color: #fff;
}

/* Product Section */

#product1{
  text-align: center;
}
.pro-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #15c0b52f;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease-in-out;
  position: relative;
}
.pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  scale: 1.02;
}
.pro img{
  width: 100%;
  border-radius: 20px;
}
.des{
  text-align: start;
  padding: 10px 0 5px 0;
}
.des span{
  color: #606063;
}
.des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.des .fa-star{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
.des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #15c0b4;
}
.star_price_cart{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  padding-top: 10px;
}
.star_price{
  flex-basis: 85%;
}
.cart{
  flex-basis: 15%;
}
.cart_icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #15c0b4;
  color: #fff;
  font-weight: 500;
  border: 1px solid #cce7d0;
  padding-left: 10px;
  transition: 0.4s ease;
}
.cart_icon:hover{
  background-color: rgb(243, 181, 25);
  color: #00ffee;
}

/* pagination */

#pagination{
  text-align: center;

}
#pagination a{
  text-decoration: none;
  background-color: #15c0b4;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* Newsletter */
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('../img/banner/b14.png');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter span{
  color: #ffbd27;
}
.form input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button{
  background-color: #15c0b4;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form{
  display: flex;
  width: 40%;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.column .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
.follow{
  margin-top: 20px;
}
.follow i{
  color: #041E42;
  padding-right: 4px;
  cursor: pointer;
}
footer .row img{
  border: 1px solid #15c0b4;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer i:hover, footer a:hover{
  color: #15c0b4;
}
.copyright{
  width: 100%;
  text-align: center;
  margin-bottom: -35px;
}






/* Start Media Query for pad */


@media (max-width:767px) {

  /* global responsive */

  .section-p1 {
    padding: 40px 40px;
  }

  /* nav bar responsive */

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #modile{
    display: flex;
    align-items: center;
  }
  #modile a{
    text-decoration: none;
    font-size: 24px;
    color: #1a1a1a;
  }
  #bar{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }

  /* hero section responsive */

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  /* products responsive */

  .pro-container {
    justify-content: space-evenly;
  }
  .pro {
    margin: 15px;
  }

  /* newsletter responsive */

  .form {
    width: 70%;
  }
}

/* Start Media Query for mobile */

@media (max-width: 477px) {

  /* global responsive */

  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  .section-p1 {
    padding: 20px;
  }
  
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background: #E3E6F3;
}
  
  /* nav bar responsive */

  #header {
    padding: 10px 30px;
  }

  /* hero section responsive */

  #hero {
    padding: 0 20px;
    background-position: 57%;
  }
  #hero p{
    width: 60%;
  }

  /* products responsive */
  
  .pro {
    width: 100%;
  }

  /* newsletter responsive */

  .form {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
}